<a href="https://colab.research.google.com/github/grojasc/MIA/blob/main/conexi%C3%B3n_github.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install -q xlrd
!git clone https://github.com/grojasc/MIA_DS_project

Cloning into 'MIA_DS_project'...
remote: Enumerating objects: 182, done.
remote: Counting objects: 100% (32/32), done.
remote: Compressing objects: 100% (32/32), done.
remote: Total 182 (delta 19), reused 0 (delta 0), pack-reused 150
Receiving objects: 100% (182/182), 14.99 MiB | 20.80 MiB/s, done.
Resolving deltas: 100% (79/79), done.

In [9]:
!ls ./MIA_DS_project/Data/

 articles-16585_SD_001.xlsx
 cr2_qflxDaily_2018_description.txt
 cr2_qflxDaily_2018_stations.txt
'Crecimiento Mundial.xlsx'
'Crecimiento Población Mundial.xlsx'
 Cuadro_19052022140129.xlsx
 desktop.ini
 estimaciones-y-proyecciones-2002-2035-comunas.xlsx
 IPG2014_v1.CPG
 poblacion_comuna.csv
 poblacion_region.csv

In [14]:
import pandas as pd
df = pd.read_csv('MIA_DS_project/Data/poblacion_comuna.csv', encoding = 'latin1')
df

,Unnamed: 0,region,nombre_region,comuna,nombre_comuna,p_2002,p_2003,p_2004,p_2005,p_2006,...,p_2021,p_2022,p_2023,p_2024,p_2025,p_2026,p_2027,p_2028,p_2029,p_2030
0,1,1,Tarapacá,1101,Iquique,173611,169002,167413,167784,169377,...,227127,229072,230595,231962,233228,234407,235492,236481,237379,238173
1,2,1,Tarapacá,1107,Alto Hospicio,53625,63806,71062,76126,79924,...,134085,137263,140282,143294,146337,149416,152532,155681,158866,162080
2,3,1,Tarapacá,1401,Pozo Almonte,9833,9837,9999,10271,10612,...,17853,18172,18452,18713,18962,19198,19422,19632,19831,20016
3,4,1,Tarapacá,1402,Camiña,1325,1271,1242,1226,1222,...,1384,1383,1379,1374,1371,1365,1360,1355,1349,1344
4,5,1,Tarapacá,1403,Colchane,1636,1564,1522,1499,1488,...,1588,1579,1569,1558,1546,1534,1522,1510,1497,1485
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
341,342,16,Ñuble,16301,San Carlos,52108,52109,52177,52291,52441,...,56499,56702,56886,57061,57222,57372,57508,57630,57739,57832
342,343,16,Ñuble,16302,Coihueco,24538,24854,25098,25307,25495,...,28569,28742,28908,29067,29222,29373,29517,29654,29787,29911
343,344,16,Ñuble,16303,Ñiquén,11876,11795,11732,11681,11640,...,11565,11554,11541,11526,11512,11495,11477,11456,11435,11412
344,345,16,Ñuble,16304,San Fabián,3700,3761,3825,3882,3941,...,4693,4728,4761,4793,4823,4851,4878,4904,4929,4952
345,346,16,Ñuble,16305,San Nicolás,10017,10170,10322,10462,10598,...,12261,12339,12414,12487,12556,12621,12687,12747,12805,12860

SyntaxError: ignored